.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;

    form {
        width: 100%;

        input,
        small {
            width: 100%;
        }

        input {
            margin-top: 15px;
        }

        .zipcodeInput {
            margin-bottom: 15px;
        }

        .error {
            opacity: 0;
        }

        .showError {
            opacity: 1;
        }

    }
}
